<%= javascript_include_tag 'doctor_service' %>

	<% blue_box 'Service Not Found' do -%>
<p style="font-weight:bold; color:#FF0000;">
The service or procedure that you were looking for is no longer listed on HealthyPrice, inc.<br/>
<br/>
Please click Services &amp; Procedures on the site menu (above) to locate a service or procedure.<br/>
<br/><br/><br/></p>
	<% end %>
