<% content_for :head do %>
	<title>HealthyPrice, Inc. - Thank you!</title>
<% end %>
<div style="width:550px; margin:auto;">
<% blue_box 'Thank you!' do -%>
Thank you for contacting HealthyPrice.<br/>
A customer service representative will contact you shortly.
<br/>&nbsp;
<br/><%#= @result %>
<% end -%>
</div>
