<div class="signup_header_text">
	<span class="subheat_text_style">
		Application Pending Review
	</span>
<br/><br/>
<b>Congratulations!</b>
<br/><br/>
<!--Your application is being reviewed by our administrators.<br/>
Shortly you'll be receiving an email with account activation instructions, upon approval.-->
Thank you for your application to HealthyPrice. In the next several days, HealthyPrice<br/>
will review your application and contact you to confirm the details that you have submitted.<br/>
We look forward to working with you and your practice.
<br/><br/>
<!--a href="/user_session/destroy">Log Out</a-->
</div>
