			<div id="page_header_box">
				<div id="headerX">Unauthorized</div>
				<div id="help"><span class="help"><a href="javascript:ShowPopUp();">Help</a></span></div>
			</div>

			<div id="details_1">
If you have followed a link from your orders page it is likely that your login session has expired. Please Login again.<br/>
You are unauthorized to view this order. This order, you are going to view seems to be of some other doctor.
			</div>
