<div class="message_body">
<p align="justify">
Dear {full_name},<br/>
<br/>
Welcome to HealthyPrice! Here is the login information for your HealthyPrice account:<br/>
<br/>
Provider ID: {provider_id}<br/>
User ID: {user_id}<br/>
Password: {password}<br/>
<br/>
If you have not completed the provider signup process, please <a style="text-decoration:none;" href="http://www.healthyprice.com/login">login to HealthyPrice</a> with the above account login information and complete the signup process.<br/>
<br/>
HealthyPrice<br/>
1-800-455-2797<br/>
<a style="text-decoration:none;" href="mailto:providersupport@healthyprice.com">providersupport@healthyprice.com</a><br/>
<a style="text-decoration:none;" href="http://www.healthyprice.com">http://www.healthyprice.com</a>
</p>
<div>
