<div class="message_body">
<p align="justify">
Dear {full_name},<br/>
<br/>
Your HealthyPrice account has been closed. Once your account is closed you will no longer have access to your provider dashboard.
<br/>
<br/>
If you did not request this change, <a href="http://www.healthyprice.com/page/contact_us">please contact HealthyPrice.</a>.<br/>
<br/>
HealthyPrice<br/>
1-800-455-2797<br/>
<a href="mailto:providersupport@healthyprice.com">providersupport@healthyprice.com</a><br/>
<a href="http://www.healthyprice.com/">http://www.healthyprice.com</a>
</p>
<div>
